<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home - CodeAcademy</title>
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
	<div class="container text-center">
		<div>
			<h1>Welcome to CodeAcademy</h1>
		</div>
		<div>
			<h3><a th:href="@{/register}">Register</a></h3>
			<h3><a th:href="@{/list_users}">List All Users</a></h3>
			<h3><a th:href="@{/Login}">Login</a></h3>
		</div>
	</div>
</body>
</html>